<title>Reddit</title>

<h5 class=" ml-5 pl-4 text-primary row">Reddit.js</h5><br>

<h1 class=" ml-5 pl-4">Reddit.js</h1>

<a href="/posts/new" class="btn btn-primary navbar-btn ml-2 pl-4">New Post</a>
